:root {
  --color-black: rgb(41, 35, 37);
  --color-grey: rgb(153, 141, 143);
  --color-white: #fff;
  --color-bg-peach: rgb(247, 233, 228);
  --test: 1px solid red;
  --content-width: calc(100% - 80px - 80px);
}

.App {
  text-align: inherit;
  width: 100%;
}

header,
section {
  min-width: 980px;
  width: var(--content-width);
  margin: 0 auto;
}

main {
  margin-top: 90px;
}

h1 {
  font-weight: 700;
  font-size: 3.2rem;
}

.sectionContent {
  display: grid;
  grid-template-rows: min-content;
  justify-items: center;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s;
}

.hide {
  opacity: 0;
  transition: opacity 0.4s;
}
