.blue {
    background: #3387ea;
}

.orange {
    background: #f9be3e;
}

.red {
    background: #d3573e;
}

.green {
    background: #86a73f;
}

.turquoise {
    background: #33af95;
}

.purple {
    background: #7e5b8c;
}

.dark {
    background: #151a26;
}