.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
}

.content{
  min-width: 980px;
  width: var(--content-width);
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--color-black);
  position: relative;
}

nav {
  width: 652px;
  margin-top: 31px;
  margin-bottom: 23px;
}

.linkWrapper{
  display: flex;
  width: 100%;
  justify-content: center;
}

.link{
  flex: auto;
  text-align: center;
}

.linkItem {
  padding: 0 10px;
  color: var(--color-black);
  line-height: 3.3rem;
  display: block;
  &:hover{
    color:var(--color-grey);
    transition: color .4s;
  }
}
