* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

input,
button {
    border: none;
    outline: none;
}

body {
    font-weight: bold;
    color: #FFFFFF;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/ragnar-vorel-351414.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 50%;
}

.tint {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.625453);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 33%;
}

.logo {
    font-size: 2.4rem;
    text-align: center;
}

.messages, .email-signup {
    margin-top: 35px;
}

/* Messages */
.message {
    background: #FFFFFF;
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 43px;
}

.messages:last-of-type {
    margin: 0;
}

.message > p {
    color: #6B86A8;
    font-size: 1rem;
}

/* Email form */
.email-signup > form {
    position: relative;
}
.email {
    height: 54px;
    padding-left: 32px;
    font-size: 1rem;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    width: 66%;
    font: inherit;
}

.email::placeholder {
    color: #CFCFCF;
}

.submit-button {
    height: 54px;
    background: #FF5B1C;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    width: 33%;
    position: absolute;
    right: 0px;
    font-weight: bold;
    color: #FFFFFF;
}

.submit-button:hover {
    background: #de4f19;
}

/* Social icons */
.social-icons {
    margin-top: 100px;
    text-align: center;
}

.icon {
    display: inline-block;
    margin-right: 27px;
    vertical-align: center;
}

.icon:last-of-type {
    margin: 0;
}