.wrapper {
  background-color: #fbefa3;
  border: 1px solid #f3cc5c;
  text-align: center;
  font-size: 1.4rem;
  box-shadow: 0 1px 3px 0 rgb(32 28 4 / 25%);
  overflow: hidden;
  min-height: 48px;
  height: auto;
  padding: 15px 0;
}
