.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-btn {
  width: 235px;
  height: 235px;
  display: flex;
}

.outer {
  width: 100%;
  height: 100%;
  border: 20px solid #e5e5e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.outer > img {
  position: absolute;
}

.outer > img.crown {
  bottom: 0;
  right: -10px;
}

.inner {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #c289f8;
}

.title {
  margin-top: 20px;
  font-size: 2.5rem;
}

.modal__container {
  display: flex;
  width: 660px;
  flex-direction: column;
  margin-top: 20px;
  min-height: 20px;
  transform: scale(0);
}

.show {
  transform: scale(1);
  transition: all 0.2s;
}

.modal__arrow {
  background: url(../../assets/images/arrow.png) no-repeat center;
  height: 17px;
}

.modal__content {
  width: 100%;
  height: 100%;
  background-color: #c289f8;
  border-radius: 30px;
  padding: 53px 38px;
}

.modal__content_header {
  display: flex;
}

.stats {
  flex-basis: 100%;
}

.stats > p {
  color: #fff;
  font-size: 2rem;
}

.stats > p:first-child {
  font-weight: bold;
}

.button {
  width: 100%;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #c289f8;
  border: 5px solid #9c6ec6;
  border-bottom-width: 10px;
  border-radius: 30px;
  padding: 35px 0;
  margin-top: 27px;
  cursor: pointer;
}

.button:hover {
  background-color: #a771da;
}

.start {
  background-color: #fff;
  border-color: #e1c4fc;
  color: #c389f8;
}

.start:hover {
  background-color: rgb(238, 238, 238);
}

.key {
  margin: 0;
  width: 107px;
  height: 97px;
  background: url(../../assets/images/key.png) no-repeat center;
}
