.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.content {
  width: 340px;
  display: grid;
  grid-template-rows: repeat(3, min-content) 2fr;
  text-align: center;
}

.formItem {
  margin-bottom: 6px;
}

.title {
  color: rgb(41, 35, 37);
  font-size: 1.6rem;
  margin: 12px 0 41px 0;
}

.email {
  width: 100%;
  box-shadow: inset 0 0 0 1px rgb(41, 35, 37);
  font-size: 1.5rem;
  padding: 3px 3px 3px 21px;
  line-height: 27px;
  &:hover {
    box-shadow: inset 0 0 0 3px rgb(41, 35, 37);
  }
}

.submitBtn {
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 700;
  cursor: pointer;
  height: 33px;
  &:hover {
    background-color: rgb(153, 141, 143);
    transition: background-color 0.4s;
  }
}

.formId,
.thanks {
  position: relative;
}
